.card-labels {
    display: block;
    /*margin-top: -5%;*/
}

.card-inputs {
    margin-left: 3%
    /*margin-right: 5%;
    margin-top: 6%;*/
}

/*.sidebar-card {


}

#year-slider {
    background-color: gray
    stroke-color : blue
}*/