.website-title {
    display : flex;
    align-items: flex-end;
    margin-left: 1%;
    padding-top: 1%;
}

.card-text {
    display : flex;
    vertical-align: middle;
}

#page-body {
    padding-top : 2vh ;
}
